* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(90deg, rgba(149,5,167,0.84) 0%, rgba(62,2,102,1) 25%, rgba(0,0,0,1) 50%, rgba(167,19,245,1) 81%, rgba(98,3,221,1) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* filter: brightness(0.5); */

}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #9849ff;
  border-radius: 50px; 
}


.card-link{
  text-decoration: none;
}

/* .containerOpacity{
  width: 100%;
  min-height: 100vh;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #18181b;
  opacity: 0.5;

} */


.containerAllTimes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 3;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(18px 15px 16px #000000);
}

.card {
    width: 210px;
    height: 400px;
    background: black;
    border-radius: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 7px;
    position: relative;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.486);
    cursor: pointer;
  }
  .card::after{
    /* background-color: url(img/imgVS.png); */
  }
  
  .card-int {
    background-image: linear-gradient(to right bottom, #ff0000, #ff0045, #ff0078, #ea00aa, #b81cd7, #8a3ad6, #5746cf, #004ac2, #003d94, #002e66, #001d3a, #020812);
    background-size: 200% 200%;
    background-position: 0% 0%;
    height: 100%;
    border-radius: 25px;
    transition: all 0.6s ease-out;
    overflow: hidden;
  }
  
  .card:hover .card-int {
    background-position: 100% 100%;
  }
  
  .top {
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 35%;
    height: 18px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .speaker {
    position: absolute;
    top: 2px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 40%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(20, 20, 20);
  }
  
  .camera {
    position: absolute;
    top: 6px;
    right: 84%;
    transform: translate(50%, 0%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.048);
  }
  
  .int {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 255, 0.212);
  }
  
  .btn1, .btn2, .btn3, .btn4 {
    position: absolute;
    width: 2px;
  }
  
  .btn1, .btn2, .btn3 {
    height: 45px;
    top: 30%;
    right: -4px;
    background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    left: -4px;
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    height: 30px;
  }
  
  .btn2 {
    top: 26%
  }
  
  .btn3 {
    top: 36%
  }
  
  .hello {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    height: 100%;
    transition: 0.5s ease-in-out;

  }
  
  .hidden {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in;
  }
  
  .card:hover .hidden {
    opacity: 1;
  }
  
  .card:hover .hello {
    transform: translateY(-20px);
  }

  .containerTitle{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spnTitle{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.times-list{
  width: 100%;
  height: auto;
  padding: 30px;
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Faz o link ocupar todo o espaço do card */
.card-link {
  display: block; /* Faz o link ser um bloco */
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Herda a cor do texto do card */
  text-decoration: none;
}

/* Se necessário, você pode adicionar estilos ao card quando estiver dentro de um link */
.card-link .card {
  cursor: pointer; /* Muda o cursor para o estilo de "mão" quando o usuário passa o mouse */
}



@media (min-width: 0px) and (max-width: 650px){
  .times-list{
    flex-direction: column;
  }
  .card-container{
    flex-direction: column;
  }
}